@model TeamSkunk.Models.Member

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Member</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Guild Name
        </dt>
        <dd>
            @ViewBag.GuildName
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.JoinDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.JoinDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.isOfficer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.isOfficer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.isRecruiter)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.isRecruiter)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.isLeader)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.isLeader)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
